# IDE Files
.vscode
.idea

# Rust files
Cargo.lock

# Python files
__pycache__

# Java / Kotlin files
.gradle
local.properties

# Compiled source
target
build
out

# Compiled Item
*.dylib
*.dll
*.lib
*.so
